* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: linear-gradient(blueviolet, rgb(79, 21, 134));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#insert {
    background-color: white;
    min-width: 500px;
    padding: 60px;
    display: flex;
}

.key {
    text-align: center;
    background-color: rgba(137, 43, 226, 0.767);
    padding: 20px 15px;
    font-size: 20px;
    color: white;
    min-width: 150px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    position: relative;
}

.key small {
    position: absolute;
    top: -20px;
    color: black;
    font-size: 14px;
}