* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #ec5766;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {

  background-color: white;
  width: 400px;
  padding: 50px 30px;
}

form{
  width: 100%;
}

input{
  width: 100%;
  padding: 10px;
}

.todo{
 color: rgb(75, 75, 75);
 margin: 20px 0;
 border-left: 4px solid #ec5766;
 padding: 10px;
 display: flex;
 justify-content: space-between;
 align-items: center;

}

.delete{
   color: #ec5766;
   cursor: pointer;
   font-size: 1.5rem;
}