* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


body {
  background-color: #1b1b1b;
}

.sidebar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100vh;
  background: rgb(33, 33, 33);
  transition: all 1s ease;
}

.hide {
  transform: translateX(-300px);
}

ul li {
  list-style: none;
  margin-bottom: 10px;

}

ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center button {
  padding: 15px 30px;
  background-color: #ffa31a;
  outline: 0;
  border: none;
  color: white;
  font-family: inherit;
  font-size: 18px;
  cursor: pointer;
}