* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #000;
  color: #fff;
}

.content {
  padding: 20px;
  margin: 20px;
}

section {
  border: 2px solid #fff;
  margin: 30px;
  padding: 20px;
}

h1 {
  margin: 10px 0;
}

.scrollbar-indicator {
  height: 5px;
  position: fixed;
  top: 10px;
  left: 3rem;
  width: calc(100% - 6rem);
}
.progress {
  width: 0;
  height: 100%;
  border-radius: 50px;
  background: linear-gradient(to left, #21d4fd, #b721ff);
  transition: width 0.1s;
}
