body {
    background-color: rgb(28, 28, 35);
}

.content-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    gap: 50px;
    color: white;
    cursor: pointer;
}

.btn {
    border: 2px solid white;
    width: 120px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.purple {
    background-color: purple;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.teal {
    background-color: teal;
}